<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Crear Equipo')"></head>

<body>
<div th:replace="fragments :: navbar (usuario=${usuario})"></div>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2>Crear Nuevo Equipo</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <form method="post" th:action="@{/equipos}">
                <div class="form-group">
                    <label for="nombre">Nombre del equipo:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required/>
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-secondary" th:href="@{/equipos}">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
