<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista de Equipos')"></head>

<body>
<div th:replace="fragments :: navbar (usuario=${usuario})"></div>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h1>Lista de Equipos</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre del Equipo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipo: ${equipos}">
            <td th:text="${equipo.nombre}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/equipos/{id}(id=${equipo.id})}">Ver detalle</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
