<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>
</head>
<body>
<h1>Login</h1>

<form method="post" th:action="@{/login}" th:object="${loginData}">
	<input id="username"  name="username" placeholder="Correo electrónico" type="text" th:field="*{eMail}" required/> <br/>
	<input id="password" name="password"  placeholder="Contraseña" type="password" th:field="*{password}" required/> <br/>
	<input th:value="Login"  type="submit" />
</form>

</body>
</html>